#define VOS_NT_WINDOWS32    0x00040004L
#define VFT_APP                      0x00000001L

A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "ico.ico"

1 VERSIONINFO
FILEVERSION 2,0,0,0
PRODUCTVERSION 2,0,0,0
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "040904E4"
		 {
			 VALUE "CompanyName", "RAMBO"
			 VALUE "FileVersion", "2.0.0.0"
			 VALUE "FileDescription", "FIFA Launcher"
			 VALUE "InternalName", "FIFA-Launcher"
			 VALUE "LegalCopyright", "RAMBO 2017"
			 VALUE "LegalTrademarks", "RAMBO"
			 VALUE "OriginalFilename", "FIFA Launcher"
			 VALUE "ProductName", "FIFA Launcher"
			 VALUE "ProductVersion", "V2"
		 }
	 }
  BLOCK "VarFileInfo"
	 {
		 VALUE "Translation", 0x0409, 1252
	 }
}
